#discover-hero {
  font-size: 72px;
  @include super-center();
}

@media (max-width: 500px) {
  #discover-hero {
    font-size: 36px;
  }
}

.cloud {

  .picture {
    position: absolute;
    height: 200px;
    width: 200px;
  }
}
