.form {

  h1 {
    font-size: 60px;
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 48px;
    }
  }

  label {
    color: $blue;
    font-family: $main-text;
    font-size: 36px;
  }

  input {
    @include glitch-form;
  }

  @include placeholder-change($blue);

  button {
    @include glitch-button;
  }

  .filter {
    opacity: .7;
    text-align: center;
    border: 5px solid $blue;
    margin: 10px 0px;
    padding: 5px;

    button {
      @include glitch-button;
    }

    p {
      display: inline-block;
      color: white;
      opacity: 1;
      @include stroke(2, $blue);
      margin: 15px 5px;
      font-size: 20px;

    }
  }

  #image-preview {
    text-align: center;
  }
}


