.form {

  h1 {
    font-size: 72px;
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 48px;
    }
  }

  label {
    color: $blue;
    font-family: $main-text;
    font-size: 36px;
  }

  input {
    @include glitch-form;
  }

  @include placeholder-change($blue);

  button {
    @include glitch-button;
  }
}


#form-phase-two {
  z-index: 10;
}

.filter {
  opacity: .7;
  text-align: center;

  h3 {
    display: inline-block;
    color: white;
    opacity: 1;
    @include stroke(2, $blue);
    margin: 15px;

  }
}
