#customnavbar {
  background-color: $orange;
  color: white;

  #brand-hero {
    font-family: $super-text;
    font-weight: bold;
    font-size: 36px;
    color: white;
    @include stroke(2, $blue);
  }

  input {
    @include glitch-form;
  }

  @include placeholder-change($blue);

  button {
    @include glitch-button;
  }

  li > a {
    color: white;
    font-size: 24px;
  }

  @media all and (max-width: 800px) and (min-width: 650px) {
    li > a {
      font-size: 14px;
    }
  }

  .noti-img {
    width: 51px;
    height: 51px;
    margin-right: 10px;
  }

  a:focus {
    background-color: $orange;
  }

  .active {
    @include stroke(2, $blue);
  }

  .notification-count {
    color: $blue;
  }

  .dropdown-menu {
    background-color: $orange;
    max-height: 400px;
    overflow-y: scroll;

    a:hover {
      background-color: $blue;
    }
  }

}
