$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// fonts here
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=VT323);

// normalize here
@import "normalize.css";

// style guide and mixins here
@import "utilities/mixins.scss";
@import "utilities/glitchly-style-guide.scss";


// views here
@import "views/navbar.scss";
@import "views/feed.scss";
@import "views/discover.scss";
@import "views/user-show.scss";
@import "views/forms.scss";



// keeps the background animation in the middle fo the page
#background {
  z-index:-1;
  width:100%;
  height: 100vh;
  position: fixed;
  top: 0;
};

p, h1, h2, h3, h4, a {
  color: white;
  font-family: $main-text;
};





