// color guide

$orange: #FF6600;
$blue: #0652ff;
$super-text: vt323;
$main-text: vt323;
$blue-steel-clear: rgba(6, 82, 255, .5);
$orange-crush-clear: rgba(255, 102, 0, .5);

// keeps the background animation in the middle fo the page
#background {
  z-index:-1;
  width:100%;
  height: 100vh;
  position: fixed;
  background-color: black;
  top: 0;
};

p, h1, h2, h3, h4, a {
  color: white;
  font-family: $main-text;
};

.heart {
  width: 54px;
  height: 54px;
}

.heart:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow:18px 12px white,30px 12px white,12px 18px white,18px 18px white,24px 18px white,30px 18px white,36px 18px white,12px 24px white,18px 24px white,24px 24px white,30px 24px white,36px 24px white,18px 30px white,24px 30px white,30px 30px white,24px 36px white;
}

.liked.heart:after {
  box-shadow:18px 12px #f00000,30px 12px #f00000,12px 18px #f00000,18px 18px #f00000,24px 18px #f00000,30px 18px #f00000,36px 18px #f00000,12px 24px #f00000,18px 24px #f00000,24px 24px #f00000,30px 24px #f00000,36px 24px #f00000,18px 30px #f00000,24px 30px #f00000,30px 30px #f00000,24px 36px #f00000;
}

.heart:not(.liked):hover:after {
  box-shadow:18px 12px #f00000,30px 12px #f00000,12px 18px #f00000,18px 18px #f00000,24px 18px #f00000,30px 18px #f00000,36px 18px #f00000,12px 24px #f00000,18px 24px #f00000,24px 24px #f00000,30px 24px #f00000,36px 24px #f00000,18px 30px #f00000,24px 30px #f00000,30px 30px #f00000,24px 36px #f00000;
    opacity: .7;
}

.hammer {
  width: 120px;
  height: 120px;
  display:inline-block;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.hammer:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow:48px 60px #70480b,48px 66px #70480b,48px 72px #70480b,48px 78px #70480b,48px 84px #70480b,48px 90px #70480b,48px 96px #70480b,54px 96px #70480b,54px 90px #70480b,54px 78px #70480b,54px 84px #70480b,54px 72px #70480b,54px 66px #70480b,54px 60px #70480b,54px 54px #70480b,48px 54px #70480b,54px 48px #9a9cb3,48px 48px #9a9cb3,60px 48px #9a9cb3,60px 42px #9a9cb3,54px 42px #9a9cb3,48px 42px #9a9cb3,42px 48px #9a9cb3,42px 42px #9a9cb3,36px 42px #9a9cb3,36px 48px #9a9cb3,66px 48px #9a9cb3,66px 42px #9a9cb3,72px 48px #9a9cb3,72px 42px #9a9cb3,72px 36px #9a9cb3,66px 36px #9a9cb3,60px 36px #9a9cb3,48px 36px #9a9cb3,54px 36px #9a9cb3,42px 36px #9a9cb3,36px 36px #9a9cb3,30px 42px #9a9cb3,30px 48px #9a9cb3,30px 36px #9a9cb3,30px 30px #9a9cb3,36px 30px #9a9cb3,42px 30px #9a9cb3,54px 30px #9a9cb3,48px 30px #9a9cb3,60px 30px #9a9cb3,66px 30px #9a9cb3,72px 30px #9a9cb3,48px 24px #70480b,54px 24px #70480b;
}





