//text shadow mixin

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

@mixin glitch-button {
  font-family: $main-text;
  color: $blue;
  border: 3px solid $blue;
  background-color: white;
  padding: 3px 10px 3px 10px;

}

@mixin glitch-form {
  color: $blue;
  border: 3px solid $blue;
  padding: 10px;
  font-family: $main-text;
}

@mixin placeholder-change($color){
  input::-webkit-input-placeholder {
    color: $color;
  };
  input:-moz-placeholder {
    color: $color;
    opacity:  1;
  };
  input::-moz-placeholder {
    color: $color;
    opacity:  1;
  };
  input:-ms-input-placeholder {
    color: $color;
  };
}

@mixin super-center(){
  position: fixed;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

@mixin glitch-range-input(){
    input[type=range] {
    -webkit-appearance: none;
    background: transparent;

  }
  input[type=range]::-webkit-slider-runnable-track {
      height: 5px;
      background: #0652ff;
      border: none;
      border-radius: 3px;
  }
  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #FF6600;
      margin-top: -4px;
  }
  input[type=range]:focus {
      outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
      background: #0652ff;
  }
  input[type=range]::-moz-range-track {
      height: 5px;
      background: #0652ff;
      border: none;
      border-radius: 3px;
  }
  input[type=range]::-moz-range-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #FF6600;
  }
  input[type=range]:-moz-focusring{
      outline: 1px solid white;
      outline-offset: -1px;
  }

  input[type=range]::-ms-track {
      height: 5px;
      background: transparent;
      border-color: transparent;
      border-width: 6px 0;
      color: transparent;
  }
  input[type=range]::-ms-fill-lower {
      border-radius: 10px;
  }
  input[type=range]::-ms-fill-upper {
      border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #FF6600;
  }
}

