<div class="row">
    <div class="col-md-8 main-wrap col-md-offset-2">
      <h1 class="hero-text">Login</h1>
      <form class="form-wrap" name="loginForm"  novalidate>
        <div class='form-group'>
          <label id='username-label'for="username">Username</label>
          <input id='username' type="text" class="form-control" name="username" ng-model="AuthCtrl.credentials.username" required>
        </div>
        <div class='form-group'>
          <label id='password-label'for="password">Password</label>
          <input id='password' class="form-control" type="password" name="password" ng-model="AuthCtrl.credentials.password" required>
        </div>

        <div class='form-group'>
          <button class="button-wrap" class="button-submit" ng-click='AuthCtrl.login(AuthCtrl.credentials)' >Login</button>
        </div>
      </form>
  </div>
</div>


