<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
<!--               <li ng-if="NavCtrl.isLoggedin()"><a class="nav-pic" href='#/profile#{{ NavCtrl.profile.id }}'><img src="https://s3.amazonaws.com/tleague/avatars/thumb/{{ NavCtrl.profile.id }}/{{NavCtrl.profile.avatar_file_name}}"/></a></li> -->
<!--               <li ng-if="NavCtrl.isLoggedin()"><a class="nav-not-pic" href='#/profile#{{ NavCtrl.profile.id }}' >{{NavCtrl.profile.username}}</a></li> -->
<!--               <li><a ng-if="NavCtrl.isLoggedin()" class="nav-not-pic" href='#/'>Home</a></li>
              <li ng-if="!NavCtrl.isLoggedin()"><a class="nav-not-pic" ng-href='#/login'>Login</a></li>
              <li ng-if="NavCtrl.isLoggedin()"><a class="nav-not-pic" href='javascript:void(0)' ng-click="NavCtrl.logout()">Logout</a></li>
              <li ng-if="NavCtrl.isLoggedin()"><a class="nav-not-pic" href='#/new-tournament'>Create Tournament</a></li>

              <li ng-if="NavCtrl.isLoggedin()"><a class="nav-not-pic" href='#/invitations'>Invitations</a></li> -->
              <li ng-if="!NavCtrl.isLoggedin()"><a class="nav-not-pic" href='#/sign-in'>Sign <I></I>n</a></li>
            </ul>
        </div>
    </div>
</div>
