<gl-picture-form id="form-view"></gl-picture-form>
<div class="col-xs-12" id="progress-view" style="display: none">
  <div id="discover-hero">
    <div id="hammer"></div>
    <div id="hammer"></div>
    <div id="hammer"></div>
    <div id="hammer"></div>
    <div id="hammer"></div>
    <h2>Glitch in progress. Please be patient while we smash your picture with a hammer</h2>
    <div id="hammer"></div>
    <div id="hammer"></div>
    <div id="hammer"></div>
    <div id="hammer"></div>
    <div id="hammer"></div>
  </div>
</div>
