<div class ="row picture-show">
  <div class="picture-show-box col-xs-12 col-sm-6">
    <div class="media">
      <div class="media-left">
        <a href="#/users/{{PictureCtrl.picture.user.id}}">
          <img class="media-object" ng-src="{{PictureCtrl.picture.user.thumb_url}}"/>
        </a>
      </div>
      <div class="media-body">
        <a href="#/users/{{PictureCtrl.picture.user.id}}"><h4>{{ PictureCtrl.picture.user.username}}</h4></a>
      </div>
    </div>
    <img class="picture" ng-src="{{PictureCtrl.picture.large_url}}"/>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="picture-show-box col-xs-8 col-xs-offset-2">
      <h1>{{ PictureCtrl.picture.caption }}</h1>
      <div class="heart" ng-class="{liked: PictureCtrl.picture.liked_by_user}" ng-click="PictureCtrl.toggleLike(PictureCtrl.picture.id, PictureCtrl.picture.liked_by_user)"></div>
      <p>{{PictureCtrl.picture.likes}} likes</p>
      <form class="form">
        <input ng-model="PictureCtrl.comment" type="text" name="comment"/>
        <button ng-click="PictureCtrl.createComment(PictureCtrl.picture.id)"> New Comment </button>
      </form>
      <div class="comments">
        <gl-comment ng-repeat="comment in PictureCtrl.picture.comments"></gl-comment>
        <button ng-show="PictureCtrl.hasMoreComments" ng-hide="PictureCtrl.picture.comments.length === 0" ng-click="PictureCtrl.getMoreComments()">Show More</button>
      </div>
    </div>
  </div>
</div>

