<div class="row feed">
  <h1 ng-if="PictureCtrl.pictures.length === 0">You don't have any pictures yet!</h1>
  <div class="col-xs-6" ng-repeat="picture in PictureCtrl.pictures">
    <div class="picture">
      <div class="media">
        <div class="media-left">
          <a href="#/users/{{picture.user.id}}">
            <img class="media-object" ng-src="{{picture.user.thumb_url}}"/>
          </a>
        </div>
        <div class="media-body">
          <a href="#/users/{{picture.user.id}}"><h4>{{ picture.user.username}}</h4></a>
          <p>{{ picture.caption}}</p>
        </div>
      </div>
      <a href="#/pictures/{{picture.id}}">
        <img ng-src="{{picture.large_url}}"/>
      </a>
    </div>
  </div>
</div>

