<div class ="row picture-show">
  <div class="picture-box col-md-6">
    <div class="media">
      <div class="media-left">
        <a href="#/users/{{PictureCtrl.picture.user.id}}">
          <img class="media-object" ng-src="{{PictureCtrl.picture.user.thumb_url}}"/>
        </a>
      </div>
      <div class="media-body">
        <a href="#/users/{{PictureCtrl.picture.user.id}}"><h4>{{ PictureCtrl.picture.user.username}}</h4></a>
      </div>
    </div>
    <img ng-src="{{PictureCtrl.picture.large_url}}"/>
  </div>
  <div class="conversation-box col-md-6">
    <h1>{{ PictureCtrl.picture.caption }}</h1>
    <form id="form">
      <input type="text" name="comment"/>
      <button> New Comment </button>
    </form>
  </div>
</div>

